# Markdown
## Markdown
### Markdown

### insert a image
![text](https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022__340.jpg)

### insert a site
[site](https://sites.google.com/s/17fwNhzRhQfZxg6NS4Q1u05P1l1DBP2jI/p/1c9J8Diac0ItPBvfLpzp6Uja_Jya2TghD/edit)

### for creating ordered list
1.abc
2.efg
   A.a
   B.b

### ** bold and single*italic text
**gitam**<br>
*gitam*

In [2]:
print("hello warald")

hello warald

In [3]:
# variable creation 
a=10 
b=20
a+b

30

In [4]:
name ="Gitam"
print("university:"+name)

university:Gitam

In [6]:
name=input ("enter a name")
age = int(input("enter a age"))
print("my name is:",name,"my age is:",age)

enter a namesairaj
enter a age21
my name is: sairaj my age is: 21

# take to inputs and do the following operations
### add,sub,mul,div

In [7]:
a=70
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)

80
60
700
7.0

In [8]:
a=70
b=10
print("sum is:",a+b)
print("diff is",a-b)
print("product is",a*b)
print("div is",a/b)

sum is: 80
diff is 60
product is 700
div is 7.0

In [10]:
a=int(input("enter a value:"))
b=int(input("enter another value:"))
print("sum is:",a+b)
print("diff is",a-b)
print("product is",a*b)
print("div is",a/b)

enter a value:10
enter another value:20
sum is: 30
diff is -10
product is 200
div is 0.5

# Data types

## integer 
## Float
## complex
## Boolean
## String

# float type

In [12]:
a=10
b=12.05
c=5+7j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

# printing complex number

In [13]:
c= complex(3,4)
print(c)

(3+4j)

# operations of complex numbers

In [14]:
c1=3+5j
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

# conditions true or false(boolean value)

In [15]:
a=10
b=7
a>b

True

# Finding datatype for given input

In [16]:
s1="abc"
s2="xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [ ]:
s1="100"
print(type(s1))
a=int(s1)
print(type(s1))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

In [ ]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

In [15]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

# length of string

In [16]:
a1=1234
print(len(str(a1)))

4

In [17]:
a1="1234"
print(len(a1))

4

In [18]:
a=10
b=5
a**b

100000

# operators
## 1.arithmetic operators --- +,-,*,%,//,**
## 2.logical operators--- and(if both the statements are true we get true),or(ant 1 statement is true we get true),not(to get opposite of true or false)
## 3.relational operators--- <,>,<=,>=,==,!=(not equal to)
## 4.membership operators--- in,notin

In [19]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

15
5
50
2.0
0
2
100000

In [20]:
# relational operator
print(a==b)
print(a!=b)
print(a<b)
print(a>b)

False
True
False
True

In [21]:
# logical operators
a=15
print(a>=10 and a<=20)
print(a>=10 or a<=20)
print(not a)

True
True
False

In [23]:

x=(a>=10 and a<=20)
print(not x)

False

## take to numbers and do the following operations

In [24]:
a=int(input("enter a value:"))
b=int(input("enter another value:"))
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

enter a value:10
enter another value:15
False
True
True
False
True
False

# Membership operators
##  in -- true     if value is found in sequence
## not in--true if value is not found in sequence

In [25]:
a=[1,2,3,4]
print(1 in a)
print(7 in a)
print (7 not in a)

True
False
True

# conditional statement
## 1.if
## 2.else
## 3.elif(else if)
# Syntax
## if condition:
> statement<br>
## else:
> statements

In [27]:
n=int(input("enter a value"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a value7
odd

## To check number is multiple of 3 and 5

In [33]:
n=int(input("enter a value:"))
if n%3==0 and n%5==0:
    print("Multiple of 3 and 5")
else:
        print("not a multiple of 3 and 5")

enter a value:15
Multiple of 3 and 5

# check the given number is positive,negative or zero

In [39]:
n=int(input("enter a value"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else :
    print("equal to zero")

enter a value-7
negative

# Leap year or not

In [6]:
n=int(input("enter a value:"))
if n%400==0 or (n %100 !=0 and n % 4==0):
    print("LEAP YEAR")
else :
    print("NOT A LEAP YEAR")

enter a value:2100
NOT A LEAP YEAR

# print numbers from 1 to n

In [7]:
n=int(input("enter a number"))
i=1
while i <=n:
    print(i,end=" ")
    i=i+1

enter a number7
1 2 3 4 5 6 7

In [10]:
n=int(input("enter a number"))
i=1
while i <=n:
    print(i,end="")
    i=i+1

enter a number7
1234567

In [11]:
n=int(input("enter a number"))
i=1
while i <=n:
    print(i," ")
    i=i+1

enter a number7
1
2
3
4
5
6
7

# input a number and add all multiples of 2

In [21]:
n=int(input("enter a number:"))
i=1
s=0
while i <=n:
    if i % 2 ==0:
        s =s+i
    i=i+1
print(s)

enter a number:8
20