In [1]:
#Basic list functions
li = [1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [17]:
li =[1,9,16,25,5]
li.append(29) #add the new item at li.
#li.insert(2,56) #add the new item in the required index in li.
# li.append (9)
#li.count(9) #return the value how many values are there in li.
#li.index(56) #return the value at that index
li

[1, 9, 16, 25, 5, 29]

In [18]:
li =[1,9,16,25,5]
# li.append(29) #add the new item at li.
li.insert(2,56) #add the new item in the required index in li.
# li.append (9)
#li.count(9) #return the value how many values are there in li.
#li.index(56) #return the value at that index
li

[1, 9, 56, 16, 25, 5]

In [22]:
li =[1,9,16,25,5]
li.append(29) #add the new item at li.
print(li)
li.insert(2,56) #add the new item in the required index in li.
print(li)
li.append (9)
print(li.count(9)) #return the value how many values are there in li.
print(li.index(56)) #return the value at that index
li

[1, 9, 16, 25, 5, 29]
[1, 9, 56, 16, 25, 5, 29]
2
2

[1, 9, 56, 16, 25, 5, 29, 9]

In [12]:
# method of list objects
li=[1,9,16,56,25,5,9]
li.sort() #sorts that list the list in assending order
#li.pop() # to delete the last value in the list
#li.pop(1)
li

[1, 5, 9, 9, 16, 25, 56]

In [13]:
li=[1,9,16,56,25,5,9]
#li.sort() #sorts that list the list in assending order
#li.pop() # to delete the last value in the list
li.pop(3)
li

[1, 9, 16, 25, 5, 9]

In [14]:
li1=[1,6,9,25]
li.extend(li1) # to extend the list to existing list
li

[1, 9, 16, 25, 5, 9, 1, 6, 9, 25]

In [16]:
li=[1,6,9,25]
#li.extend(li1) # to extend the list to existing list

li.reverse()

li

[25, 9, 6, 1]

In [24]:
def largeNumber(li):
    li.sort()
    return li[-1]
def genericLarge(li,n):#generic large of n is getting nth large number in the list
    li.sort()
    return li[-n]
li=[19,1,25,6,9,45,22]
print(largeNumber(li))
print(genericLarge(li,2))

45
25

In [32]:
def smallNumber(li):
    li.sort()
    return li[0]
def genericSmall(li,n):#generic large of n is getting nth large number in the list
    li.sort()
    return li[n-1]
li=[19,1,25,6,9,45,22]
print(smallNumber(li))
print(genericSmall(li,3))

1
9

# Tuples
- parenthesis()---:tuples
- square brackets[]---:list
   - list are mutable - can be changes/modifies
   - used to access and modify,add,delete data
   - tuples are immutable - cannot be changes
   - used to access data onlt

In [34]:
t1=(1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

# Dictionaries
1. it works on the concept of set unique Data
2. keys,values is the unique identifier of the data
3. eack key is separeted from its values with colons(:)
4. Each key and value is saparated by comma(,)
5. Dictionaries enhanced wit6h curly braces({})

In [37]:
d1 = {"Name":"Gitam","Email id":"gitam@gmail.com","Address":"Hyderabad"}
d1

{'Name': 'Gitam', 'Email id': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [39]:
d1["Name"] # To access the specific key

'Gitam'

In [41]:
d1 = {"Name":"Gitam","Email id":"gitam@gmail.com","Address":"Hyderabad"}
d1["Email id"]="sr007@gmail.com" # To update the data
d1

{'Name': 'Gitam', 'Email id': 'sr007@gmail.com', 'Address': 'Hyderabad'}

In [42]:
d1["Email id"]

'sr007@gmail.com'

In [43]:
d1["course"]="python" #adding an entry
d1

{'Name': 'Gitam',
 'Email id': 'sr007@gmail.com',
 'Address': 'Hyderabad',
 'course': 'python'}

In [45]:
del d1["Email id"]
d1

{'Name': 'Gitam', 'Address': 'Hyderabad', 'course': 'python'}

In [46]:
d1.keys() #TO GET ALL KEYS

dict_keys(['Name', 'Address', 'course'])

In [47]:
d1.values() #To get all values

dict_values(['Gitam', 'Hyderabad', 'python'])

In [48]:
d1.items() # The list of Dictionaries of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad'), ('course', 'python')])

# String:
- Strings
- String slicings
- Fundamental programming with string in python

In [49]:
s1='Python'
print(s1)
print(type(s1))

Python
<class 'str'>

In [50]:
s1='Python'
print(s1[0]) #Access the first character
print(s1[1]) #Access the second character
print(s1[5]) #Last character
print(s1[len(s1)-1]) #Access the last charactyer

P
y
n
n

In [52]:
print(s1[-1]) #Access the last character
print(s1[-2]) #Access the second last character
print(s1[0:2])#Access the first character
print(s1[:2]) #Access the first character
print(s1[-3:])#Access the last three characters
print(s1[2:]) #access the second character to last character

n
o
Py
Py
hon
thon

In [54]:
s1='Python'
print(s1[1:-1])            #printing all the characters except first and last
print(s1[len(s1)//2])      #middle of the string   
print(s1[-1::-1])          #reverse of the string
print(s1[-1:-3:-1])        #access the last two characters in reverse order
print(s1[::2])             #to access the alternate of two characters(prints only 1st character for every 2 numbers )
print(s1[::3])             #to access the alternate of three characters(prints only 1st character for every 3 numbers )
print(s1[::-2])            #to access the reverse of alternate characters

ytho
h
nohtyP
no
Pto
Ph
nhy

In [55]:
# Reversing a string
def reverseString(str):
    return str[-1::-1]
reverseString("Programming")

'gnimmargorP'

In [57]:
# check the string is palindrome or not
def isPalindrome(str):
    if str==str[::-1]:
        return ("palindrome")
    else:
        return ("not a palindrome")
    return
print(isPalindrome("python"))
print(isPalindrome("ganag"))

not a palindrome
palindrome

In [59]:
s1 = 'Python'
print(s1.upper())  #1.upper()-will convert into all capitals
print(s1.lower())  #2.lower()-will convert into all smalls

PYTHON
python

In [ ]:
### stringBoolean build -in methods
3. islower() 
4. isupper()
5. istitle()#true if string in title case
6. isnumeric()
7. isalpha()
8. isspace() #true if string is space

In [67]:
print(s1.islower()) 
print(s1.isupper())
print(s1.istitle()) 
print(s1.isnumeric()) 
print(s1.isalpha()) 
print(s1.isspace())

True
False
False
False
True
False

In [68]:
s1 = 'Python'
print(s1.istitle())

True

In [70]:
s1=' '
s2='py th on'
print(s1.isspace())
print(s2.isspace())

True
False

# String methods
- join() -- method will concatinates the two strings
- split() -- split() returs a list of strings separated by white spaces(no parametrs)
- replace() -- replaces the specific word/character with new word/character

In [72]:
s1 ='Python'
print(" ".join(s1))

P y t h o n

In [73]:
s2="python is easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,i,s, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [80]:
li=["python","programming","learn"]
print(",".join(li))

python,programming,learn

In [75]:
s2="python is easy to learn"
print(s2.split())

['python', 'is', 'easy', 'to', 'learn']

In [78]:
s2="python programming is easy to learn"
print(s2.split('a'))

['python progr', 'mming is e', 'sy to le', 'rn']

In [79]:
s2="python programming is easy to learn"
print(len(s2))
li=s2.split()#split the string -- list object
print(li)
print(len(li))

35
['python', 'programming', 'is', 'easy', 'to', 'learn']
6

In [81]:
s2="python programming is easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [82]:
s2="python programming is easy to learn"
print(s2.replace("gra","Application"))

python proApplicationmming is easy to learn